<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yii Debug Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{TOOLBAR_CSS}">
    <script>var configUrl = '{CONFIG_URL}';</script>
</head>
<body>
<div id="yii-debug-toolbar" class="yii-debug-toolbar yii-debug-toolbar_position_top yii-debug-toolbar_active"
     style="display: none;">
    <div class="yii-debug-toolbar__bar">
        <div class="yii-debug-toolbar__block yii-debug-toolbar__title">
            <a href="/debug/viewer" class="yii-debug-toolbar__logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650.832 800"
                     style="enable-background:new 0 0 650.832 800" xml:space="preserve">
                    <path
                        d="M481.395 508.535c-5.4-71.26-28.382-117.45-39.574-143.628-11.187-26.174-28.387-50.675-28.398-50.637-.033.112-15.486 83.388-43.271 143.639-4.638 10.064-10.797 22.626-17.013 32.744l.002.001c-19.183 33.866-47.013 66.265-63.604 99.105-16.449 32.546-19.501 64.78-17.97 101.427 1.543 36.85 10.054 72.992 18.227 108.816 30.81-6.647 57.628-18.023 80.825-32.563 61.05-38.274 97.939-99.492 108.423-165.444 0 0 .511-2.678.738-5.945 4.729-50.972 3.165-67.054 1.615-87.515z"
                        style="fill:#40b3d8"/>
                    <path
                        d="M481.395 508.535c-5.4-71.26-28.382-117.45-39.574-143.628-11.187-26.174-28.387-50.675-28.398-50.637l-.004.018.004-.023-4.106-6.105C319.288 181.78 146.627 118.681.747 177.164c-7.024 88.584 34.046 241.004 183.875 283.517 60.572 18.634 109.076 13.803 168.521 29.966l-.005.005s60.424 21.058 95.576 52.638c15.813 14.202 31.646 32.891 30.851 55.121 5.009-52.906 3.405-69.091 1.83-89.876z"
                        style="fill:#83c933"/>
                    <path
                        d="M182.406-256.769c-21.289-62.282-12.267-104.016 26.679-162.096 18.575-27.711 50.648-59.854 78.756-78.01C401.25-425.808 443.183-293.436 401.476-170.5c-30.354 89.45-58.833 126.955-130.84 218.99 8.393-98.569-26.297-166.901-60.359-242.831-8.667-19.318-20.655-41.311-27.871-62.428"
                        style="fill-rule:evenodd;clip-rule:evenodd;fill:#f18a2a"
                        transform="translate(233.564 496.875)"/>
                    <path
                        d="M234.164 99.853c.795-22.23-15.038-40.919-30.852-55.121-35.152-31.579-95.574-52.637-95.574-52.637 6.217-10.118 12.375-22.681 17.012-32.745 27.786-60.252 43.239-143.526 43.272-143.639.011-.038 17.21 24.464 28.398 50.637 11.193 26.179 34.175 72.368 39.574 143.628 1.573 20.785 3.177 36.971-1.83 89.877z"
                        style="fill:#7fb93c" transform="translate(245.403 498.558)"/>
                </svg>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">PHP
                <span class="yii-debug-toolbar__label" data-key="php.version"></span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">Status
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_success" data-key="response.statusCode">0</span>
            </a>
            <a href="#" title="">Time
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="startTime">0</span>
            </a>
            <a href="#" title="">Memory
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="memory.peakUsage">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">Route
                <span class="yii-debug-toolbar__label" data-key="request.fullPath"></span>
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="router.matchTime">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">Logs
                <span class="yii-debug-toolbar__label" data-key="logger.total">0</span>
            </a>
        </div>


        <div class="yii-debug-toolbar__block">
            <a href="#" title="">Events
                <span class="yii-debug-toolbar__label" data-key="event.total">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">Services
                <span class="yii-debug-toolbar__label" data-key="service.total">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">Middlewares
                <span class="yii-debug-toolbar__label" data-key="middleware.total">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block_last">
        </div>
    </div>
</div>
<main class="container-fluid">
    <div class="row mb-3 py-4">
        <div class="col">
            <div class="card debug-sessions-info d-none">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-10">
                            <select class="form-control debug-sessions">
                            </select>
                        </div>
                        <div class="col col-md-2 session-info mt-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="panels list-group d-none">
            </ul>
        </div>
        <div class="col col-9">
            <div class="card">
                <div class="card-body">
                    <div class="router-view">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="card col mt-3 enter-target-host d-none">
            <div class="py-3">
                <label for="target_host" class="form-label">Enter target host: </label>
                <input id="target_host" class="form-control target-host px-2">
                <button class="btn btn-primary connect-target-host my-3">Connect</button>
            </div>
        </div>
    </div>
</main>
<script>
    (() => {
        window.YiiDebug = Object.assign({}, window.YiiDebug, {
            targetHost: '',
            apiUrl: '',
            viewerUrl: '',
            currentSession: {},
            currentPanel: '',
            sessions: [],
            panels: [],
            collectors: []
        });
        let ajax = function (url, settings) {
            const xhr = new XMLHttpRequest();
            settings = settings || {};
            settings.responseType && (xhr.responseType = settings.responseType);
            xhr.open(settings.method || 'GET', url, true);
            xhr.send(settings.data || '');

            xhr.onload = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200 && settings.success) {
                        settings.success(xhr);
                    } else if (xhr.status !== 200 && settings.error) {
                        settings.error(xhr);
                    }
                }
            };
            xhr.onerror = () => {
                settings.error && settings.error(xhr);
            };
        };
        fetchConfig();
        document.addEventListener('yii.debug.config', ev => {
            loadDebugData();
        });
        window.addEventListener('popstate', ev => {
            let panelLinks = document.querySelectorAll('.panel-link');
            for (let i = 0; i < panelLinks.length; ++i) {
                if (panelLinks[i].href.includes(ev.state.panel)) {
                    panelLinks[i].click();
                    break;
                }
            }
        })
        document.addEventListener('click', event => {
            if (event.target.matches('.panel-link')) {
                event.preventDefault();
                event.target.disabled = true;
                const [_, panel] = event.target.getAttribute('href').split('/');
                YiiDebug.currentPanel = panel;
                if (window.location.pathname !== YiiDebug.viewerUrl + '/' + panel) {
                    window.history.pushState({panel}, "", YiiDebug.viewerUrl + '/' + panel);
                }
                let panelLinks = document.querySelectorAll('.panel-link');
                for (let i = 0; i < panelLinks.length; ++i) {
                    panelLinks[i].classList.remove('active');
                }
                event.target.classList.add('active');
                document.querySelector(".router-view").innerHTML =
                    '<div class="spinner-border text-primary" role="status">\n' +
                    '  <span class="visually-hidden">Loading...</span>\n' +
                    '</div>';
                loadPanel();
            }
            if (event.target.matches('.connect-target-host')) {
                let input = document.querySelector('.target-host');
                document.querySelector(".router-view").innerHTML = '';
                YiiDebug.targetHost = input.value.replace(/\/+$/g, '');
                document.querySelector(".router-view").innerHTML =
                    '<div class="spinner-border text-primary" role="status">\n' +
                    '  <span class="visually-hidden">Loading...</span>\n' +
                    '</div>';
                setTimeout(() => loadDebugData());
            }
        });

        function loadDebugData() {
            ajax(YiiDebug.targetHost + YiiDebug.apiUrl, {
                responseType: 'json',
                success: (xhr) => {
                    document.querySelector(".enter-target-host").classList.add('d-none');
                    document.querySelector(".debug-sessions-info").classList.remove('d-none');
                    let response = xhr.response;
                    YiiDebug.sessions = response.data
                    YiiDebug.currentSession = YiiDebug.sessions[0];
                    if (!window.frameElement) {
                        populateToolbarData();
                    }
                    populateDebugSessions();
                    getCollectors(YiiDebug.currentSession.id, () => getPanels());
                },
                error: () => {
                    document.querySelector(".router-view").innerHTML = 'Debug info not found on target host';
                    document.querySelector(".enter-target-host").classList.remove('d-none');
                }
            });
        }

        function loadPanel() {
            const target = YiiDebug.targetHost === '' ? location.origin : YiiDebug.targetHost;
            let panelLinks = document.querySelectorAll('.panel-link');
            for (let i = 0; i < panelLinks.length; ++i) {
                if (panelLinks[i].getAttribute('href').includes(YiiDebug.currentPanel)) {
                    panelLinks[i].classList.add('active');
                }
            }
            ajax('panels/' + YiiDebug.currentPanel + '?targetHost=' + target + '&session=' + YiiDebug.currentSession.id, {
                success: xhr => {
                    let div = document.createElement('div');
                    div.innerHTML = xhr.responseText;
                    let scripts = div.querySelectorAll('script');
                    for (let i = 0; i < scripts.length; i++) {
                        div.removeChild(scripts[i]);
                    }
                    document.querySelector(".router-view").innerHTML = '';
                    for (let i = 0; i < scripts.length; i++) {
                        let script = document.createElement('script');
                        script.async = false
                        if (scripts[i].src !== '') {
                            script.src = scripts[i].src;
                        } else {
                            script.defer = true
                            script.src = `data:text/javascript;base64, ${btoa(scripts[i].innerHTML)}`;
                        }
                        div.appendChild(script);
                    }
                    if (div.innerHTML.includes('<table')) {
                        div.classList.add('table-responsive')
                    }
                    document.querySelector(".router-view").appendChild(div);
                    event.target.disabled = false;
                },
                error: (xhr) => {
                    event.target.disabled = false;
                    document.querySelector(".router-view").innerHTML = xhr.responseText;
                }
            });
        }

        function findElementByDataKey(key) {
            return document.querySelector(`[data-key="${key}"]`);
        }

        function setContentAndTitle(element, content, title) {
            element.textContent = content;
            element.parentElement.title = title;
        }

        function populateToolbarData() {
            const toolbar = document.querySelector('#yii-debug-toolbar');
            toolbar.style.display = 'flex';

            const currentSession = YiiDebug.currentSession;
            const web = currentSession.web;
            const console = currentSession.console;
            const time = (web || console) ? (web ? web.request?.processingTime : console.request?.processingTime) : 0
            const memory = (web || console) ? (web ? web.memory.peakUsage : console.memory.peakUsage) : 0
            const timeFormatted = time === 0 ? '0 ms' : `${Number(time * 1000).toFixed(2)} ms`
            const memoryFormatted = memory === 0 ? '0 MB' : `${Number(memory / 1048576).toFixed(3)} MB`
            const routeTimeFormatted = web
            ? currentSession.router.matchTime === 0 ? '0 ms' : `${Number(currentSession.router.matchTime * 1000).toFixed(2)} ms`
            : 'console';
            const status = web ? currentSession.response.statusCode : 'n/a';

            const phpVersionElement = findElementByDataKey('php.version');
            const responseStatusCodeElement = findElementByDataKey("response.statusCode");
            const memoryPeakUsageElement = findElementByDataKey("memory.peakUsage");
            const startTimeElement = findElementByDataKey("startTime");
            const requestFullPathElement = findElementByDataKey("request.fullPath");
            const routerMatchTimeElement = findElementByDataKey("router.matchTime");
            const loggerTotalElement = findElementByDataKey("logger.total");
            const middlewareTotalElement = findElementByDataKey("middleware.total");
            const eventTotalElement = findElementByDataKey("event.total");
            const serviceTotalElement = findElementByDataKey("service.total");
            const middlewaresCount = web ? currentSession.middleware.total : 0;

            phpVersionElement.textContent = web?.php?.version || console?.php?.version || 'n/a';
            requestFullPathElement.textContent = web
                ? currentSession.request.path + (currentSession.request.query ? '?' + currentSession.request.query : '')
                : 'console';

            if (status < 300) {
                responseStatusCodeElement.classList.add('yii-debug-toolbar__label_success');
            } else if (status < 400) {
                responseStatusCodeElement.classList.add('yii-debug-toolbar__label_info');
            } else {
                responseStatusCodeElement.classList.add('yii-debug-toolbar__label_important');
            }

            setContentAndTitle(responseStatusCodeElement, status, `Response status: ${status}`);
            setContentAndTitle(startTimeElement, timeFormatted, `Total request processing time was ${timeFormatted}`);
            setContentAndTitle(memoryPeakUsageElement, memoryFormatted, `Peak memory consumption: ${memoryFormatted}`);
            setContentAndTitle(routerMatchTimeElement, routeTimeFormatted, `Route match time: ${routeTimeFormatted}`);
            setContentAndTitle(loggerTotalElement, currentSession.logger.total || 0, `Total logs: ${currentSession.logger.total || 0}`);
            setContentAndTitle(middlewareTotalElement, middlewaresCount, `Total middlewares: ${middlewaresCount}`);
            setContentAndTitle(eventTotalElement, currentSession.event.total || 0, `Total events: ${currentSession.event.total || 0}`);
            setContentAndTitle(serviceTotalElement, currentSession.service.total || 0, `Total services: ${currentSession.service.total || 0}`);
        }

        function fetchConfig() {
            ajax(configUrl, {
                responseType: 'json',
                success: (xhr) => {
                    Object.assign(YiiDebug, xhr.response);

                    let path = window.location.pathname;
                    let currentPanel = '';
                    if (YiiDebug.viewerUrl && YiiDebug.viewerUrl.length && path.startsWith(YiiDebug.viewerUrl)) {
                        currentPanel = path.substring(YiiDebug.viewerUrl.length + 1);
                    } else {
                        currentPanel = path.split('/')[1] || '';
                    }
                    if (currentPanel in YiiDebug.panels) {
                        YiiDebug.currentPanel = currentPanel;
                    }
                    document.dispatchEvent(new Event('yii.debug.config', {'bubbles': true}))
                },
                error: (xhr) => {
                    ajax(YiiDebug.targetHost + '/debug/config', {
                        responseType: 'json',
                        success: (xhr) => {
                            Object.assign(YiiDebug, xhr.response);

                            let path = window.location.pathname;
                            if (YiiDebug.viewerUrl && YiiDebug.viewerUrl.length) {
                                path = path.substring(path.indexOf(YiiDebug.viewerUrl));
                            }
                            const currentPanel = path.split('/')[1] || '';
                            if (currentPanel in YiiDebug.panels) {
                                YiiDebug.currentPanel = currentPanel;
                            }
                            document.dispatchEvent(new Event('yii.debug.config', {'bubbles': true}))
                        },
                        error: () => {
                            console.error(xhr.response);
                        }
                    })
                }
            });
        }

        function getPanels() {
            populatePanels(YiiDebug.panels);
            if (YiiDebug.currentPanel && YiiDebug.currentPanel.length) {
                loadPanel();
            } else {
                document.querySelector(".panel-link").click();
            }
        }

        let select = document.querySelector('.debug-sessions');
        select.addEventListener('change', (event) => {
            document.querySelector(".router-view").innerHTML =
                '<div class="spinner-border text-primary" role="status">\n' +
                '  <span class="visually-hidden">Loading...</span>\n' +
                '</div>';
            YiiDebug.currentSession = YiiDebug.sessions.find(session => event.target.value === session.id);
            populateDebugSessionInfo();
            if (!window.frameElement) {
                populateToolbarData();
            }
            getCollectors(YiiDebug.currentSession.id, () => document.querySelector('.panel-link.active').click());
        });

        function populateDebugSessions() {
            YiiDebug.sessions.forEach((session) => {
                let date = new Date((session.web?.request?.processingTime ?? session.console?.request?.processingTime) * 1000).toLocaleString("en-US");
                select.insertAdjacentHTML('beforeend',
                    '<option value="' + session.id + '">' + date + ' ' + (session.request?.method || session.console?.command?.class || '') + ' ' + (session.request?.url || session.console?.command?.input) + '</option>');

            });
            populateDebugSessionInfo();
        }

        function populatePanels(panels) {
            let panel = document.querySelector(".panels");
            panel.innerHTML = '';
            for (let id in panels) {
                panel.insertAdjacentHTML(
                    'beforeend',
                    '<a class="list-group-item list-group-item-action panel-link" href="panels/' + id + '">' + panels[id] + '</a>'
                );
            }
            panel.classList.remove('d-none');
        }

        function populateDebugSessionInfo() {
            let session = YiiDebug.sessions.find(s => s.id === YiiDebug.currentSession.id);
            let sessionInfo = document.querySelector('.session-info');

            sessionInfo.innerHTML = '';
            sessionInfo.insertAdjacentHTML(
                'beforeend',
                session.requestIsAjax ? '<span class="px-2 badge bg-warning">AJAX</span>' : session.command ? '<span class="px-2 badge bg-info">CLI</span>' : ''
            );
        }

        function getCollectors(debugSessionId, onsuccess) {
            if (YiiDebug.collectors[debugSessionId] !== undefined) {
                onsuccess();
                return;
            }
            ajax(YiiDebug.targetHost + YiiDebug.apiUrl + '/view/' + debugSessionId, {
                responseType: 'json',
                success: xhr => {
                    YiiDebug.collectors[debugSessionId] = xhr.response.data;
                    onsuccess();
                },
                error: () => document.querySelector(".router-view").innerHTML = 'An error occurred during loading collectors',
            });
        }
    })();
</script>
</body>
</html>
