<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yii Debug Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/toolbar.css">
</head>
<body>
<div id="yii-debug-toolbar" class="yii-debug-toolbar yii-debug-toolbar_position_top yii-debug-toolbar_active"
     style="display: none;">
    <div class="yii-debug-toolbar__bar">
        <div class="yii-debug-toolbar__block yii-debug-toolbar__title">
            <a href="/debug/viewer" class="yii-debug-toolbar__logo">
                <svg xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1"
                     x="0px" y="0px" viewBox="0 0 650.832 800" style="enable-background:new 0 0 650.832 800;"
                     xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #40B3D8;
                        }

                        .st1 {
                            fill: #83C933;
                        }

                        .st2 {
                            fill-rule: evenodd;
                            clip-rule: evenodd;
                            fill: #F18A2A;
                        }

                        .st3 {
                            fill: #7FB93C;
                        }
                    </style>
                    <g id="Слой-1" serif:id="–°–ї–Њ–є 1">
                        <g>
                            <path class="st0"
                                  d="M481.395,508.535c-5.4-71.26-28.382-117.45-39.574-143.628c-11.187-26.174-28.387-50.675-28.398-50.637    c-0.033,0.112-15.486,83.388-43.271,143.639c-4.638,10.064-10.797,22.626-17.013,32.744l0.002,0.001    c-19.183,33.866-47.013,66.265-63.604,99.105c-16.449,32.546-19.501,64.78-17.97,101.427    c1.543,36.85,10.054,72.992,18.227,108.816c30.81-6.647,57.628-18.023,80.825-32.563c61.05-38.274,97.939-99.492,108.423-165.444    c0,0,0.511-2.678,0.738-5.945C484.509,545.078,482.945,528.996,481.395,508.535z"></path>
                            <path class="st1"
                                  d="M481.395,508.535c-5.4-71.26-28.382-117.45-39.574-143.628c-11.187-26.174-28.387-50.675-28.398-50.637    c0,0-0.004,0.017-0.004,0.018c0.001-0.011,0.004-0.023,0.004-0.023l-4.106-6.105c-90.029-126.38-262.69-189.479-408.57-130.996    c-7.024,88.584,34.046,241.004,183.875,283.517c60.572,18.634,109.076,13.803,168.521,29.966    c-0.003,0.002-0.003,0.004-0.005,0.005c0,0,60.424,21.058,95.576,52.638c15.813,14.202,31.646,32.891,30.851,55.121    C484.574,545.505,482.97,529.32,481.395,508.535z"></path>
                            <g transform="matrix(1,0,0,1,233.564,496.875)">
                                <path class="st2"
                                      d="M182.406-256.769c-21.289-62.282-12.267-104.016,26.679-162.096c18.575-27.711,50.648-59.854,78.756-78.01     C401.25-425.808,443.183-293.436,401.476-170.5c-30.354,89.45-58.833,126.955-130.84,218.99     c8.393-98.569-26.297-166.901-60.359-242.831C201.61-213.659,189.622-235.652,182.406-256.769"></path>
                            </g>
                            <g transform="matrix(1,0,0,1,245.403,498.558)">
                                <path class="st3"
                                      d="M234.164,99.853c0.795-22.23-15.038-40.919-30.852-55.121c-35.152-31.579-95.574-52.637-95.574-52.637     c6.217-10.118,12.375-22.681,17.012-32.745c27.786-60.252,43.239-143.526,43.272-143.639c0.011-0.038,17.21,24.464,28.398,50.637     c11.193,26.179,34.175,72.368,39.574,143.628C237.567,30.761,239.171,46.947,234.164,99.853z"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="">PHP
                <span class="yii-debug-toolbar__label" data-key="phpVersion"></span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="Response status: 200">Status
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_success" data-key="responseStatusCode">200</span>
            </a>
            <a href="#" title="Total request processing time was 15.17 ms">Time
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="time">0</span>
            </a>
            <a href="#" title="Peak memory consumption: 11.656 MB">Memory
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="memory">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="Route match time: 1.74 ms">Route
                <span class="yii-debug-toolbar__label" data-key="matchedRoute"></span>
                <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="routeMatchTime">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="Total logs: 0">Logs
                <span class="yii-debug-toolbar__label" data-key="totalLogs">0</span>
            </a>
        </div>


        <div class="yii-debug-toolbar__block">
            <a href="#" title="Total events: 22">Events
                <span class="yii-debug-toolbar__label" data-key="totalEvents">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="Total services: 44">Services
                <span class="yii-debug-toolbar__label" data-key="totalServices">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block">
            <a href="#" title="Total middlewares: 11">Middlewares
                <span class="yii-debug-toolbar__label" data-key="totalMiddlewares">0</span>
            </a>
        </div>
        <div class="yii-debug-toolbar__block_last">
        </div>
    </div>
</div>
<main class="container container-xl">
    <div class="row mb-3 py-4">
        <div class="col">
            <div class="card debug-sessions-info d-none">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-10">
                            <select class="form-control debug-sessions">
                            </select>
                        </div>
                        <div class="col col-md-2 session-info mt-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="panels list-group d-none">
            </ul>
        </div>
        <div class="col col-9">
            <div class="card">
                <div class="card-body">
                    <div class="router-view">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="card col mt-3 enter-target-host d-none">
            <div class="py-3">
                <label for="target_host" class="form-label">Enter target host: </label>
                <input id="target_host" class="form-control target-host px-2">
                <button class="btn btn-primary connect-target-host my-3">Connect</button>
            </div>
        </div>
    </div>
</main>
<script>
    (() => {
        window.YiiDebug = Object.assign({}, window.YiiDebug, {
            targetHost: '',
            baseUrl: '',
            viewerUrl: '',
            currentSession: {},
            currentPanel: '',
            sessions: [],
            panels: [],
            collectors: []
        });
        let ajax = function (url, settings) {
            const xhr = new XMLHttpRequest();
            settings = settings || {};
            settings.responseType && (xhr.responseType = settings.responseType);
            xhr.open(settings.method || 'GET', url, true);
            xhr.send(settings.data || '');

            xhr.onload = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200 && settings.success) {
                        settings.success(xhr);
                    } else if (xhr.status !== 200 && settings.error) {
                        settings.error(xhr);
                    }
                }
            };
            xhr.onerror = () => {
                settings.error && settings.error(xhr);
            };
        };
        fetchConfig();
        document.addEventListener('yii.debug.config', ev => {
            loadDebugData();
        })
        document.addEventListener('click', event => {
            if (event.target.matches('.panel-link')) {
                event.preventDefault();
                event.target.disabled = true;
                const [_, panel] = event.target.getAttribute('href').split('/');
                YiiDebug.currentPanel = panel;
                window.history.pushState(null, "", YiiDebug.viewerUrl + '/' + panel);
                let panelLinks = document.querySelectorAll('.panel-link');
                for (let i = 0; i < panelLinks.length; ++i) {
                    panelLinks[i].classList.remove('active');
                }
                event.target.classList.add('active');
                document.querySelector(".router-view").innerHTML =
                    '<div class="spinner-border text-primary" role="status">\n' +
                    '  <span class="visually-hidden">Loading...</span>\n' +
                    '</div>';
                loadPanel();
            }
            if (event.target.matches('.connect-target-host')) {
                let input = document.querySelector('.target-host');
                document.querySelector(".router-view").innerHTML = '';
                YiiDebug.targetHost = input.value.replace(/\/+$/g, '');
                document.querySelector(".router-view").innerHTML =
                    '<div class="spinner-border text-primary" role="status">\n' +
                    '  <span class="visually-hidden">Loading...</span>\n' +
                    '</div>';
                setTimeout(() => loadDebugData());
            }
        });

        function loadDebugData() {
            ajax(YiiDebug.targetHost + '/debug', {
                responseType: 'json',
                success: (xhr) => {
                    document.querySelector(".enter-target-host").classList.add('d-none');
                    document.querySelector(".debug-sessions-info").classList.remove('d-none');
                    let response = xhr.response;
                    YiiDebug.sessions = response.data
                    YiiDebug.currentSession = YiiDebug.sessions[0];
                    if (!window.frameElement) {
                        populateToolbarData();
                    }
                    populateDebugSessions();
                    getCollectors(YiiDebug.currentSession.id, () => getPanels());
                },
                error: () => {
                    document.querySelector(".router-view").innerHTML = 'Debug info not found on target host';
                    document.querySelector(".enter-target-host").classList.remove('d-none');
                }
            });
        }

        function loadPanel() {
            const target = YiiDebug.targetHost === '' ? location.origin : YiiDebug.targetHost;
            let panelLinks = document.querySelectorAll('.panel-link');
            for (let i = 0; i < panelLinks.length; ++i) {
                if (panelLinks[i].getAttribute('href').includes(YiiDebug.currentPanel)) {
                    panelLinks[i].classList.add('active');
                }
            }
            ajax('panels/' + YiiDebug.currentPanel + '?targetHost=' + target + '&session=' + YiiDebug.currentSession.id, {
                success: xhr => {
                    let div = document.createElement('div');
                    div.innerHTML = xhr.responseText;
                    let scripts = div.querySelectorAll('script');
                    for (let i = 0; i < scripts.length; i++) {
                        div.removeChild(scripts[i]);
                    }
                    document.querySelector(".router-view").innerHTML = '';
                    for (let i = 0; i < scripts.length; i++) {
                        let script = document.createElement('script');
                        script.async = false
                        if (scripts[i].src !== '') {
                            script.src = scripts[i].src;
                        } else {
                            script.defer = true
                            script.src = `data:text/javascript;base64, ${btoa(scripts[i].innerHTML)}`;
                        }
                        div.appendChild(script);
                    }
                    document.querySelector(".router-view").appendChild(div);
                    event.target.disabled = false;
                },
                error: (xhr) => {
                    event.target.disabled = false;
                    if (xhr.status === 404) {
                        document.querySelector(".router-view").innerHTML = xhr.responseText;
                    } else {
                        document.querySelector(".router-view").innerHTML = 'An error occurred during loading panel';
                    }
                }
            });
        }

        function populateToolbarData() {
            const toolbar = document.querySelector('#yii-debug-toolbar');
            toolbar.style.display = 'flex';

            document.querySelector('[data-key=phpVersion]').textContent = YiiDebug.currentSession.phpVersion || 'n/a';
            const status = YiiDebug.currentSession.responseStatusCode || 200;
            document.querySelector('[data-key=responseStatusCode]').textContent = status;
            document.querySelector('[data-key=responseStatusCode]').parentElement.title = `Response status: ${status}`;
            if (status < 300) {
                document.querySelector('[data-key=responseStatusCode]').classList.add('yii-debug-toolbar__label_success');
            } else if (status < 400) {
                document.querySelector('[data-key=responseStatusCode]').classList.add('yii-debug-toolbar__label_info');
            } else {
                document.querySelector('[data-key=responseStatusCode]').classList.add('yii-debug-toolbar__label_important');
            }
            const timeFormatted = YiiDebug.currentSession.time === 0 ? '0 ms' : `${Number(YiiDebug.currentSession.time * 1000).toFixed(2)} ms`;
            document.querySelector('[data-key=time]').textContent = timeFormatted;
            document.querySelector('[data-key=time]').parentElement.title = `Total request processing time was ${timeFormatted}`;
            const memoryFormatted = YiiDebug.currentSession.memory === 0 ? '0 MB' : `${Number(YiiDebug.currentSession.memory / 1048576).toFixed(3)} MB`
            document.querySelector('[data-key=memory]').textContent = memoryFormatted;
            document.querySelector('[data-key=memory]').parentElement.title = `Peak memory consumption: ${memoryFormatted}`;
            const routeTimeFormatted = YiiDebug.currentSession.routeMatchTime === 0 ? '0 ms' : `${Number(YiiDebug.currentSession.routeMatchTime * 1000).toFixed(2)} ms`;
            document.querySelector('[data-key=matchedRoute]').textContent = YiiDebug.currentSession.matchedRoute || '';
            document.querySelector('[data-key=routeMatchTime]').textContent = routeTimeFormatted;
            document.querySelector('[data-key=routeMatchTime]').parentElement.title = `Route match time: ${routeTimeFormatted}`;
            document.querySelector('[data-key=totalLogs]').textContent = YiiDebug.currentSession.totalLogs || 0;
            document.querySelector('[data-key=totalLogs]').parentElement.title = `Total logs: ${YiiDebug.currentSession.totalLogs || 0}`;
            document.querySelector('[data-key=totalMiddlewares]').textContent = YiiDebug.currentSession.totalMiddlewares || 0;
            document.querySelector('[data-key=totalMiddlewares]').parentElement.title = `Total middlewares: ${YiiDebug.currentSession.totalMiddlewares || 0}`;
            document.querySelector('[data-key=totalEvents]').textContent = YiiDebug.currentSession.totalEvents || 0;
            document.querySelector('[data-key=totalEvents]').parentElement.title = `Total events: ${YiiDebug.currentSession.totalEvents || 0}`;
            document.querySelector('[data-key=totalServices]').textContent = YiiDebug.currentSession.totalServices || 0;
            document.querySelector('[data-key=totalServices]').parentElement.title = `Total services: ${YiiDebug.currentSession.totalServices || 0}`;
        }

        function fetchConfig() {
            ajax('config', {
                responseType: 'json',
                success: (xhr) => {
                    Object.assign(YiiDebug, xhr.response);

                    let path = window.location.pathname;
                    let currentPanel = '';
                    if (YiiDebug.viewerUrl && YiiDebug.viewerUrl.length && path.startsWith(YiiDebug.viewerUrl)) {
                        currentPanel = path.substring(YiiDebug.viewerUrl.length + 1);
                    } else {
                        currentPanel = path.split('/')[1] || '';
                    }
                    if (currentPanel in YiiDebug.panels) {
                        YiiDebug.currentPanel = currentPanel;
                    }
                    document.dispatchEvent(new Event('yii.debug.config', {'bubbles': true}))
                },
                error: (xhr) => {
                    ajax(YiiDebug.targetHost + '/debug/config', {
                        responseType: 'json',
                        accept: 'application/json',
                        success: (xhr) => {
                            Object.assign(YiiDebug, xhr.response);

                            let path = window.location.pathname;
                            if (YiiDebug.viewerUrl && YiiDebug.viewerUrl.length) {
                                path = path.substring(path.indexOf(YiiDebug.viewerUrl));
                            }
                            const currentPanel = path.split('/')[1] || '';
                            if (currentPanel in YiiDebug.panels) {
                                YiiDebug.currentPanel = currentPanel;
                            }
                            document.dispatchEvent(new Event('yii.debug.config', {'bubbles': true}))
                        },
                        error: () => {
                            console.error(xhr.response);
                        }
                    })
                }
            });
        }

        function getPanels() {
            populatePanels(YiiDebug.panels);
            if (YiiDebug.currentPanel && YiiDebug.currentPanel.length) {
                loadPanel();
            } else {
                document.querySelector(".panel-link").click();
            }
        }

        let select = document.querySelector('.debug-sessions');
        select.addEventListener('change', (event) => {
            document.querySelector(".router-view").innerHTML =
                '<div class="spinner-border text-primary" role="status">\n' +
                '  <span class="visually-hidden">Loading...</span>\n' +
                '</div>';
            YiiDebug.currentSession = YiiDebug.sessions.find(session => event.target.value === session.id);
            populateDebugSessionInfo();
            if (!window.frameElement) {
                populateToolbarData();
            }
            getCollectors(YiiDebug.currentSession.id, () => document.querySelector('.panel-link.active').click());
        });

        function populateDebugSessions() {
            YiiDebug.sessions.forEach((session) => {
                let date = new Date(session.timestamp * 1000).toLocaleString("en-US");
                select.insertAdjacentHTML('beforeend',
                    '<option value="' + session.id + '">' + date + ' ' + session.requestMethod + ' ' + session.requestUrl + '</option>');

            });
            populateDebugSessionInfo();
        }

        function populatePanels(panels) {
            let panel = document.querySelector(".panels");
            panel.innerHTML = '';
            for (let id in panels) {
                panel.insertAdjacentHTML(
                    'beforeend',
                    '<a class="list-group-item list-group-item-action panel-link" href="panels/' + id + '">' + panels[id] + '</a>'
                );
            }
            panel.classList.remove('d-none');
        }

        function populateDebugSessionInfo() {
            let session = YiiDebug.sessions.find(s => s.id === YiiDebug.currentSession.id);
            let sessionInfo = document.querySelector('.session-info');

            sessionInfo.innerHTML = '';
            sessionInfo.insertAdjacentHTML('beforeend', '<span class="px-2">Ajax: <span class="badge bg-warning">' + session.requestIsAjax + '</span></span>');
        }

        function getCollectors(debugSessionId, onsuccess) {
            if (YiiDebug.collectors[debugSessionId] !== undefined) {
                onsuccess();
                return;
            }
            ajax(YiiDebug.targetHost + '/debug/view/' + debugSessionId, {
                responseType: 'json',
                success: xhr => {
                    YiiDebug.collectors[debugSessionId] = xhr.response.data;
                    onsuccess();
                },
                error: () => document.querySelector(".router-view").innerHTML = 'An error occurred during loading collectors',
            });
        }
    })();
</script>
</body>
</html>
