<script src="https://unpkg.com/@alenaksu/json-viewer@0.3.4/dist/index.js"></script>
<button id="button-run-tests">Run tests</button>
<table class="table table-bordered table-striped panel-tests-table">
    <thead>
    <tr>
        <th>Test</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<button id="button-load-params">Parameters</button>
<table class="table table-bordered table-striped panel-params-table">
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<button id="button-load-config">Configuration</button>
<table class="table table-bordered table-striped panel-config-table">
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<button id="button-load-container">Container</button>
<table class="table table-bordered table-striped panel-container-table">
    <thead>
    <tr>
        <th>Class name</th>
        <th>Object</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    async function loadObject(button, className) {
        const result = await fetch('/inspect/api/object?classname=' + encodeURI(className))
        const response = await result.json();
        const encodedData = JSON.stringify(response.data);

        button.outerHTML = `<json-viewer>${encodedData}</json-viewer>`
    }
    (function () {
        async function runTests() {
            const result = await fetch('/inspect/api/command')
            const response = await result.json();

            const tests = response.data

            const table = document.querySelector('.panel-tests-table tbody');

            table.innerHTML = ''
            for (let event of tests) {
                const testName = [event.suite].concat(event.test).filter(v => !!v).join('::')
                const encodedStacktrace = JSON.stringify(event.stacktrace);

                let color = event.status === 'ok' ? 'green' : 'red';
                let body = `<span style="color: ${color}">${event.status}</span>`;

                if (event.status !== 'ok') {
                    body += `
<button class="button-show-stacktrace" onclick="this.nextElementSibling.classList.toggle('d-none')">Stacktrace</button>
<json-viewer class="d-none">${encodedStacktrace}</json-viewer>
`
                }

                const titleHtml = `<tr>
<td>${testName}</td>
<td>${body}</td>
</tr>`;

                table.insertAdjacentHTML('beforeend', titleHtml);
            }
        }

        const runTestsButton = document.querySelector('#button-run-tests');
        runTestsButton.addEventListener('click', runTests);

        const loadContainerButton = document.querySelector('#button-load-container');
        loadContainerButton.addEventListener('click', loadContainer)

        async function loadContainer() {
            const result = await fetch('/inspect/api/classes')
            const response = await result.json();
            const table = document.querySelector('.panel-container-table tbody');

            table.innerHTML = '';

            for (let className of response.data) {
                const encodedClassName = className.replaceAll('\\', '\\\\');
                let titleHtml = `<tr>
<td>${className}</td>
<td><button onclick="loadObject(this,'${encodedClassName}')">Load</button></td>
</tr> `;

                table.insertAdjacentHTML('beforeend', titleHtml);
            }
        }

        const loadParamsButton = document.querySelector('#button-load-params');
        loadParamsButton.addEventListener('click', loadParams)

        async function loadParams() {
            const result = await fetch('/inspect/api/params')
            const response = await result.json();
            const table = document.querySelector('.panel-params-table tbody');

            table.innerHTML = '';
            for (const [parameter, value] of Object.entries(response.data)) {
                const encodedValue = JSON.stringify(value);
                const titleHtml = `<tr>
<td>${parameter}</td>
<td><json-viewer>${encodedValue}</json-viewer></td>
</tr>`;

                table.insertAdjacentHTML('beforeend', titleHtml);
            }
        }

        const loadConfigButton = document.querySelector('#button-load-config');
        loadConfigButton.addEventListener('click', loadConfig)

        async function loadConfig() {
            const result = await fetch('/inspect/api/config')
            const response = await result.json();
            const table = document.querySelector('.panel-config-table tbody');

            table.innerHTML = '';
            for (const [parameter, value] of Object.entries(response.data)) {
                const encodedValue = JSON.stringify(value);
                const titleHtml = `<tr>
<td>${parameter}</td>
<td><json-viewer>${encodedValue}</json-viewer></td>
</tr>`;

                table.insertAdjacentHTML('beforeend', titleHtml);
            }
        }
    })();
</script>
