<table class="table table-bordered table-striped panel-events-table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Event</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    (function () {
        const events = YiiDebug.collectors[YiiDebug.currentSession.id]["YiisoftYiiDebugCollectorEventCollector"];
        const table = document.querySelector('.panel-events-table tbody');
        events.forEach((event) => {
            const [file, line] = event.line.split(':');
            const link = `phpstorm://open?url=file://${file}&line=${line}`;
            table.insertAdjacentHTML(
                'beforeend',
                `<tr><td>${event.time}</td><td><a href="${link}">${event.name}</a></td></tr>`
            );
        });
    })();
</script>
