<div class="yii-debug-toolbar__block">
    <a href="#" title="Route Match Time:">Route
        <span class="yii-debug-toolbar__label" data-key="router.matchedRoute"></span>
        <span class="yii-debug-toolbar__label yii-debug-toolbar__label_info" data-key="router.matchTime">0</span>
    </a>
</div>
<script>
    (function () {
        setTimeout(() => {
            const timeFormatted = YiiDebug.currentSession.router.matchTime === 0 ? '0 ms' : `${Number(YiiDebug.currentSession.router.matchTime * 1000).toFixed(2)} ms`;
            document.querySelector('[data-key="router.matchedRoute"]').textContent = YiiDebug.currentSession.router.matchedRoute || '';
            document.querySelector('[data-key="router.matchedRoute"]').parentElement.href = YiiDebug.viewerUrl + '/routes';
            document.querySelector('[data-key="router.matchTime"]').textContent = timeFormatted;
            document.querySelector('[data-key="router.matchTime"]').parentElement.title = `Route match time: ${timeFormatted}`;
        });
    })()
</script>
