<table class="table table-bordered table-striped panel-request-table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
    (function () {
        const request = YiiDebug.collectors[YiiDebug.currentSession.id]["Yiisoft\\Yii\\Debug\\Collector\\RequestCollector"];
        const table = document.querySelector('.panel-request-table tbody');
        for (let info in request) {
            table.insertAdjacentHTML('beforeend', '<tr><td>' + info + '</td><td>' + request[info] + '</td></tr>');
        }
    })();
</script>
