<div class="yii-debug-toolbar__block">
    <a href="#" title="">Logs
        <span class="yii-debug-toolbar__label" data-key="totalLogs">0</span>
    </a>
</div>
<script>
    (function () {
        setTimeout(() => {
            document.querySelector('[data-key=totalLogs]').textContent = YiiDebug.currentSession.totalLogs || 0;
            document.querySelector('[data-key=totalLogs]').parentElement.title = `Total logs: ${YiiDebug.currentSession.totalLogs || 0}`;
            document.querySelector('[data-key=totalLogs]').parentElement.href = YiiDebug.viewerUrl + '/logs';
        });
    })()
</script>
