<table class="table table-bordered table-striped panel-logs-table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Level</th>
        <th>Message</th>
        <th>Context</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    (function () {
        const logs = YiiDebug.collectors[YiiDebug.currentSession.id]["YiisoftYiiDebugCollectorLogCollector"];
        const table = document.querySelector('.panel-logs-table tbody');
        logs.forEach((log) => {
            const items = log.line.split(':');
            const line = items.pop();
            const file = items.join(':');

            const link = YiiDebug.editorUrl.replace('{file}', file).replace('{line}', line);

            table.insertAdjacentHTML(
                'beforeend',
                `<tr><td>${log.time}</td><td>${log.level}</td><td>${log.message}<br><a class="small" href="${link}">${log.line}</a></td><td>${JSON.stringify(log.context)}</td></tr>`
            );
        });
    })();
</script>
