<div class="yii-debug-toolbar__block">
    <a href="#" title="">Validators
        <span class="yii-debug-toolbar__label" data-key="validator.total">0</span>
        <span class="yii-debug-toolbar__label yii-debug-toolbar__label_success" data-key="validator.valid">0</span>
        <span class="yii-debug-toolbar__label yii-debug-toolbar__label_error" data-key="validator.invalid">0</span>
    </a>
</div>
<script>
    (function () {
        setTimeout(() => {
            const validator = YiiDebug.currentSession.validator
            const el = document.querySelector('[data-key="validator.total"]')
            if (!validator.total) {
                el.parentElement.parentElement.style.display = "none"
                return;
            }
            const title = 'Total: ' + validator.total + ', Valid: ' + validator.valid + ', Invalid: ' + validator.invalid;
            el.parentElement.title = title
            el.textContent = validator.total;
            el.parentElement.href = YiiDebug.viewerUrl + '/validators';
            document.querySelector('[data-key="validator.valid"]').textContent = validator.valid
            document.querySelector('[data-key="validator.invalid"]').textContent = validator.invalid
        });
    })()
</script>
