<table class="table table-bordered table-striped panel-routes-table">
    <thead>
    <tr>
        <th>Validator Name</th>
        <th>Validator Object</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    (function () {
        const formValidators = YiiDebug.collectors[YiiDebug.currentSession.id]["YiisoftYiiDebugCollectorValidatorCollector"];
        const table = document.querySelector('.panel-routes-table tbody');

        for (let formValidator in formValidators) {
            let titleHtml = '<tr><td colspan="2" ';
                titleHtml += 'class="' + (formValidators[formValidator].result ? 'yii-debug-toolbar__row_success' : 'yii-debug-toolbar__row_error') + '">';
                titleHtml += formValidators[formValidator].value.split('@')[1] ?? formValidators[formValidator].value;
                titleHtml += '</td></tr>';
            let valueHtml = '';

            let fieldRules = formValidators[formValidator].rules;
            for (let fieldName in fieldRules) {
                valueHtml += '<tr><td>' + fieldName + '</td><td>';
                const countFieldRules = fieldRules[fieldName].length
                for (i in fieldRules[fieldName]) {
                    if (typeof fieldRules[fieldName][i] === 'string') {
                        valueHtml += fieldRules[fieldName][i].split('@')[1] ?? fieldRules[fieldName][i];
                        if (i < countFieldRules)
                            valueHtml += '<br>';
                    }
                }
                valueHtml += '</td></tr>';
            }

            table.insertAdjacentHTML('beforeend', titleHtml + valueHtml);
        }
    })();
</script>
