<div class="yii-debug-toolbar__block">
    <a href="#" title="">PHP
        <span class="yii-debug-toolbar__label" data-key="php.version">0</span>
    </a>
</div>
<script>
    (function () {
        setTimeout(() => {
            const web = YiiDebug.currentSession.web;
            const console = YiiDebug.currentSession.console;
            document.querySelector('[data-key="php.version"]').textContent = (web || console)
            ? (web ? web.php?.version : console.php?.version)
            : 'n/a';
            document.querySelector('[data-key="php.version"]').parentElement.href = YiiDebug.viewerUrl + '/info';
        });
    })()
</script>
